@import "../bower_components/susy/sass/susy";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$susy: (
        global-box-sizing: border-box,
        container: 80em,
        columns: 12,
        gutters: 1/6
);

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #fefefe;
  margin-bottom: 5em;
  @include container();
}

h1, h2, h3, h4 {
  color: #045ab0;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

h1.main {
  margin: 2em 0 2em 0;
}

#hot-container {
  @include span(6 last);
  text-align: left;
  float: left;
}

#hot {
  //margin: 0 auto;
  overflow: hidden;
}

#source {
  width: span(10);
  margin: 0 auto 3em auto;
  overflow: hidden;
  height: 201px;
  clear: both;
}

#filter {
  @include span(6 no-gutters);
  overflow: auto;

  #visible-columns {
    //TODO: REMOVE THE VISIBILITY:HIDDEN
    visibility: hidden;

    padding-bottom: 5px;
    border-bottom: 1px solid #F1EAEA;

    .column {
      display: inline-block;
      font-size: 12px;

      input[type=checkbox] {
        margin-right: 5px;
      }

      label {
        margin-right: 15px;
      }
    }
  }
}

#filter table {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;

  tr {
    line-height: 25px;

    td {
      border-top: 1px solid #F1EAEA;
      padding: 0 15px 0 15px;
    }
  }
}

.handsontable.ganttChart table tbody tr td:first-of-type {
  border-left: 0;
}